app-sidebar{
    position: absolute;
    width: 20%;
    height: 100%;
    background-color:#F9C728;
}
app-login{
    position: absolute;
    right: 0px;
    z-index: 1;
}
#verticalbar {
    position: absolute;
    left: 20%;
    width:1%;
    height: 100%;
    background-color:#EF5F28;
}
app-list {
    position: absolute;
    width: 79%;
    height: 100%;
    left: 21%;
    overflow-y: auto;
}