#wrapper {
    width: 79%;
    min-height: 50px;
    background-color: orange;
    position: absolute;
    left: 21%;
}

#header {
    width: 100%;
    min-height: 90px;
    background-color:#464133;
    padding-top: 20px;
    color: #FFF;
}

li {
    text-decoration: none;
    list-style: none;
}

.nameDisplay {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    font-style: normal;
}

.renameDisplay {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

#titles {
    width: 100%;
    min-height: 10px;
    background-color: blue;
}

/* Right column for content */
#content {
    width: 100%;
    min-height: 50px;
    background-color:#F9C728;
    float: left;
}

/* Invisible footer for clearning the columns above */
#footer {
    width: 100%;
    height: 0px;
    clear: both;
}