<div id="wrapper">
  <div id="header">
  
    <!-- Display List Name-->
    <li class="nameDisplay" *ngIf="!shouldRenameList" (dblclick)='newListButtonClicked()'> {{ stateService.active_list?.name }}</li>

    <!-- Rename List -->
    <li class="renameDisplay" *ngIf="shouldRenameList">
      <input autofocus class="form-control" [(ngModel)]="list_name_form" (keydown.enter)="onlistRename()" placeholder="Enter List Name" (keydown.esc)="shouldRenameList = false">
    </li>

  </div>
  <div id="content"></div>
  <div id="footer"></div>
</div>