#wrapper {
    width: 100%;
    overflow-y: scroll;
}

.tile {
    color:black;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid #667A8C;
    height: 50px;
    font-size: 20px;
}

.glyphicon-remove{
    float: right;
}

.glyphicon-plus{
    color: black;
}
#header {
    width: 100%;
    min-height: 90px;
    background-color:#464133;
    padding-top: 20px;
    color: #FFF;
}

li {
    text-decoration: none;
    list-style: none;
}

.nameDisplay {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    font-style: normal;
}

.renameDisplay {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

#titles {
    width: 100%;
    min-height: 10px;
    background-color: transparent;
}

/* Right column for content */
.content {
    width: 100%;
    min-height: 25px;
    background-color: #F9C728;
    overflow-y: auto;
}

.form-control{
    text-align: center;
}

#new-item-tile{
   
}