#wrapper {
    width: 100%;
    overflow-y: scroll;
}

.tile {
    color:black;
    background-color: transparent;
    height: 50px;
    font-size: 20px;

     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    border-bottom: 3px solid #667A8C;
    min-height: 40px;
}

.tile:hover {
    background-color: #D8AE24;
}
.glyphicon-remove{
    float: right;
}

.glyphicon-plus{
    color: black;
}

.glyphicon-ok{
    float: left;
    font-size: 27px;
    color: black;
    opacity: .25;
}

.glyphicon-ok:hover{
    opacity: .70;
}

.checked{
    color:green;
    opacity: 1;
}
.glyphicon:hover {
    text-decoration: none;
}
#header {
    width: 100%;
    min-height: 90px;
    background-color:#464133;
    padding-top: 20px;
    color: #FFF;
}

#collab {
    width:50%;
    min-height: 10px;
    background-color: transparent;
    margin-left: 15px;
}

li {
    text-decoration: none;
    list-style: none;
}

.nameDisplay {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    font-style: normal;
}

.renameDisplay {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

#titles {
    width: 100%;
    min-height: 10px;
    background-color: transparent;
}

/* Right column for content */
.content {
    width: 100%;
    min-height: 25px;
    background-color: #F9C728;
    overflow-y: auto;
}

.form-control{
    text-align: center;
}
