.btn {
    width: 20%;
    position:fixed;
    left: 0px;
    z-index: 2;
}
#break {
    height: 29px;
    width: 100%;
    background-color:transparent;
}
.glyphicon-remove{
    float: right;
}

.tile{
    text-align: center;
    border-top: 3px solid #667A8C;
    background-color: #F9C728;
}

.tile:hover {
    background-color: #D8AE24;
}