
<li class="list-group-item tile" *ngFor="let list of dataService?.listKeys; let i = index" (click)='listChosen(list)'> {{ dataService.getListCacheDataFromKey(list.$value)?.name }} 
<i class='glyphicon glyphicon-remove' (click)='dataService.removeListByIndex(i)'> </i>  </li> 
    <li class="list-group-item tile" *ngIf="showNewListComboBox"><input autofocus class="form-control" [(ngModel)]="list_name_form" (keydown.enter)="onlistSubmit()" placeholder="Enter List Name" (keydown.esc)="showNewListComboBox = false"></li>
<button type="button" class="btn btn-primary" (click)='newListButtonClicked()'> + New Lists </button>