.btn {
    width: 100%;
}
.glyphicon-remove{
    float: right;
}

.tile{
    text-align: center;
    border-bottom: 2px solid #667A8C;
    background-color: #F9C728;
}

.tile:hover {
    background-color: #D8AE24;
}