.btn {
    width: 20%;
    position:fixed;
    left: 0px;
    z-index: 2;
    border-radius: 0px;
}

#break {
    height: 34px; /* Spacing from "new note" to the first note*/
    width: 100%;
    background-color:transparent;
}

.new_note {
    list-style-type: none;
}

/* Button control */
.form-control {
    border-radius: 0px;
    width: 20%;
    text-align: center;
    position: fixed;
    left: 0;
    z-index: 10;
}

.noteText {
    width: 90%; 
    min-height: auto; 
    background-color: transparent; 
    float: left; 
}

.gliphy { 
    width: 10%; 
    min-height: auto; 
    background-color: transparent; 
    float: left; 
}

.clear {
    width: 100%;
    height: 0px;
    clear: both;
}

.tile{
    text-align: center;
    border-bottom: 2px solid #667A8C;
    background-color: #F9C728;
    margin: 0px;
}

.tile:hover {
    background-color: #D8AE24;
}

@media only screen and (max-width: 600px) {
    .btn { width: 30%; }
    .form-control { width: 30%; }
    .tile { text-align: left; }
}