 button {
      margin: 5px 20px;
  }
  
  #greeting {
      color:#C5CCD0;
  }

  .login-font {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
  }
  #login {
      min-width: 100px;
      min-height: 100%;
      background-color: transparent;
  }

  @media only screen and (max-width: 600px) {
    button { margin: 5px 10px; }
    .login-font { font-size: 12px; }
}